In [1]:
import pandas as pd
import sqlite3
import sj_db_functions as dbfunc

connection=sqlite3.connect('shonen_jump_dupe.sqlite3')
connect_2=sqlite3.connect('shonen_jump_copy.sqlite3')
cursor=connection.cursor()

In [2]:
base_df=pd.read_sql_query('SELECT * FROM chapters ORDER BY release_date DESC, series;',connect_2)
updated_df=pd.read_sql_query('SELECT * FROM chapters ORDER BY release_date DESC, series;',connection)
connection.close()
connect_2.close()

In [4]:
base_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3326 entries, 0 to 3325
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   series        3326 non-null   object
 1   release_date  3326 non-null   object
 2   toc_rank      2539 non-null   float64
 3   chapter       3312 non-null   float64
 4   type          3326 non-null   object
 5   placement     3326 non-null   int64
dtypes: float64(2), int64(1), object(3)
memory usage: 156.0+ KB

In [3]:
base_df==updated_df

      series  release_date  toc_rank  chapter  type  placement
0       True          True     False     True  True       True
1       True          True     False     True  True       True
2       True          True     False     True  True       True
3       True          True      True     True  True       True
4       True          True      True     True  True       True
...      ...           ...       ...      ...   ...        ...
3321    True          True     False     True  True       True
3322    True          True      True     True  True       True
3323    True          True      True     True  True       True
3324    True          True     False     True  True       True
3325    True          True      True     True  True       True

[3326 rows x 6 columns]

In [7]:
base_df.compare(updated_df)

     chapter
        self  other
2301     NaN   70.0
2314     NaN  122.0
2603     NaN   20.0
2632     NaN   23.0
2749     NaN   36.0
2964     NaN   25.0
3175     NaN  232.0
3256     NaN   77.0
3306     NaN   89.0

In [9]:
updated_df.loc[updated_df.duplicated(subset=['series', 'chapter'],keep=False)]

,series,release_date,toc_rank,chapter,type,placement
190,Super Psychic Policeman Chojo,2025-06-08,15.0,65.0,Normal,20
1040,Jujutsu Kaisen,2024-07-07,3.0,262.0,Normal,6
1115,Jujutsu Kaisen,2024-06-09,NaN,262.0,Cover,1
1439,Haikyu!!,2024-02-04,NaN,NaN,One-Shot,10
1758,WITCH WATCH,2023-10-01,6.0,126.0,Normal,11
1778,WITCH WATCH,2023-09-24,8.0,126.0,Normal,13
1882,Jujutsu Kaisen,2023-08-06,16.0,230.0,Normal,6
1895,WITCH WATCH,2023-08-06,17.0,119.0,Normal,9
1902,Jujutsu Kaisen,2023-07-30,3.0,230.0,Normal,6
1913,WITCH WATCH,2023-07-30,8.0,119.0,Normal,13
2158,Super Psychic Policeman Chojo,2023-04-23,15.0,65.0,One-Shot,10
2409,Ayakashi Triangle,2023-01-06,NaN,88.0,One-Shot,13
3043,Haikyu!!,2022-04-24,NaN,NaN,One-Shot,9
3058,Ayakashi Triangle,2022-04-17,9.0,88.0,Normal,13

In [10]:
updated_df.loc[updated_df['series']=='WITCH WATCH'].sort_values(by='chapter')

           series release_date  toc_rank  chapter    type  placement
3325  WITCH WATCH   2022-01-16       5.0     45.0  Normal          8
3305  WITCH WATCH   2022-01-23       9.0     46.0  Normal         13
3286  WITCH WATCH   2022-01-30       6.0     47.0  Normal          8
3267  WITCH WATCH   2022-02-06       NaN     48.0   Color          6
3247  WITCH WATCH   2022-02-13       7.0     49.0  Normal         10
...           ...          ...       ...      ...     ...        ...
97    WITCH WATCH   2025-07-13       4.0    209.0  Normal          5
77    WITCH WATCH   2025-07-20       5.0    210.0  Normal          8
58    WITCH WATCH   2025-07-27       7.0    211.0  Normal         15
39    WITCH WATCH   2025-08-03      10.0    212.0  Normal         17
19    WITCH WATCH   2025-08-17       2.0    213.0  Normal          3

[169 rows x 6 columns]

In [12]:
for x in range(45,213):
    if x not in updated_df.loc[updated_df['series']=='WITCH WATCH']['chapter'].to_list():
        print(x,"is missing")

120 is missing
127 is missing

In [30]:
date='2025-08-17'

In [31]:
cursor.execute("""SELECT *, MAX(chapter) FROM chapters GROUP BY series""")
cursor.fetchall()

[('Akane-banashi', '2025-08-17', None, 170, 'Cover', 1, 170),
 ('Astro Royale', '2025-04-20', 16, 50, 'Normal', 20, 50),
 ('Black Clover', '2023-08-20', 9, 368, 'Normal', 12, 368),
 ('Blue Box', '2025-08-17', None, 207, 'Color', 7, 207),
 ('Cipher Academy', '2024-02-04', 16, 58, 'Normal', 22, 58),
 ('Dear Anemone', '2024-06-16', 13, 17, 'Normal', 18, 17),
 ('Do Retry', '2023-09-17', 14, 19, 'Normal', 18, 19),
 ('Ekiden Bros', '2025-08-17', None, 7, 'Normal', 8, 7),
 ('Embers', '2025-06-22', 15, 20, 'Normal', 21, 20),
 ('Fabricant 100', '2023-09-03', 16, 36, 'Normal', 21, 36),
 ('Ginka & Glüna', '2023-04-09', 13, 29, 'Normal', 19, 29),
 ('Green Green Greens', '2024-06-09', 14, 26, 'Normal', 20, 26),
 ('Haikyu!!', '2024-02-04', None, None, 'One-Shot', 10, None),
 ('Hakutaku', '2025-02-02', 15, 18, 'Normal', 19, 18),
 ('Harukaze Mound', '2025-08-17', 8, 9, 'Normal', 13, 9),
 ('Hima-Ten!', '2025-08-17', 11, 54, 'Normal', 17, 54),
 ('Hunter x Hunter', '2024-12-08', 10, 410, 'Normal', 15, 410),
 ('Ice-Head Gill', '2023-11-12', 15, 20, 'Normal', 19, 20),
 ('Ichi the Witch', '2025-08-17', 1, 46, 'Normal', 2, 46),
 ("Ichigoki's Under Control!!", '2023-04-16', 14, 19, 'Normal', 18, 19),
 ('Jujutsu Kaisen', '2024-09-29', 6, 271, 'Normal', 7, 271),
 ('Kaedegami', '2025-08-17', 9, 8, 'Normal', 15, 8),
 ('Kagurabachi', '2025-08-17', 7, 90, 'Normal', 12, 90),
 ('Kill Blue', '2025-08-17', 10, 113, 'Normal', 16, 113),
 ('Kyokuto Necromance', '2024-09-01', 15, 18, 'Normal', 19, 18),
 ('MamaYuyu', '2024-04-07', 16, 29, 'Normal', 20, 29),
 ('Martial Master Asumi', '2024-02-11', 14, 32, 'Normal', 19, 32),
 ('Mashle: Magic and Muscles', '2023-07-02', 5, 162, 'Normal', 7, 162),
 ('Me & Roboco', '2025-08-17', 12, 245, 'Normal', 18, 245),
 ('Mission: Yozakura Family', '2025-01-19', 4, 258, 'Normal', 5, 258),
 ('My Hero Academia', '2024-08-04', 5, 430, 'Normal', 6, 430),
 ('Nice Prison', '2025-08-17', 15, 16, 'Normal', 21, 16),
 ("Nue's Exorcist", '2025-08-17', None, 110, 'Color', 14, 110),
 ('One Piece', '2025-08-17', 3, 1157, 'Normal', 4, 1157),
 ('Otr of the Flame', '2025-08-17', 14, 14, 'Normal', 20, 14),
 ('Ping-Pong Peril', '2025-08-17', None, 6, 'Normal', 10, 6),
 ('Psych House', '2024-09-08', 14, 17, 'Normal', 18, 17),
 ('RuriDragon', '2024-03-31', 15, 11, 'Normal', 20, 11),
 ('Sakamoto Days', '2025-08-17', 5, 225, 'Normal', 6, 225),
 ('Shadow Eliminators', '2024-04-21', 16, 19, 'Normal', 19, 19),
 ('Shinobi Undercover', '2025-08-17', 4, 45, 'Normal', 5, 45),
 ('Star of Beethoven', '2025-06-29', 15, 20, 'Normal', 20, 20),
 ('Super Psychic Policeman Chojo', '2023-04-23', 15, 65, 'One-Shot', 10, 65),
 ('Syd Craft: Love Is a Mystery', '2025-06-15', 14, 28, 'Normal', 19, 28),
 ('Tenmaku Cinema', '2023-09-10', 14, 21, 'Normal', 18, 21),
 ('The Elusive Samurai', '2025-08-17', 13, 214, 'Normal', 19, 214),
 ("The Ichinose Family's Deadly Sins", '2023-11-05', 14, 48, 'Normal', 19, 48),
 ('Tokyo Demon Bride Story', '2023-04-02', 10, 29, 'Normal', 19, 29),
 ('Two on Ice', '2024-04-14', 15, 28, 'Normal', 19, 28),
 ('Ultimate Exorcist Kiyoshi', '2025-08-17', 6, 56, 'Normal', 9, 56),
 ('Undead Unluck', '2025-01-26', 3, 239, 'Normal', 4, 239),
 ('WITCH WATCH', '2025-08-17', 2, 213, 'Normal', 3, 213),
 ('Yokai Buster Murakami', '2024-11-10', 17, 21, 'Normal', 21, 21)]

In [32]:
cursor.execute("""SELECT * FROM chapters WHERE release_date=?""",(date,))
cursor.fetchall()

[('Akane-banashi', '2025-08-17', None, 170, 'Cover', 1),
 ('Ichi the Witch', '2025-08-17', 1, 46, 'Normal', 2),
 ('WITCH WATCH', '2025-08-17', 2, 213, 'Normal', 3),
 ('One Piece', '2025-08-17', 3, 1157, 'Normal', 4),
 ('Shinobi Undercover', '2025-08-17', 4, 45, 'Normal', 5),
 ('Sakamoto Days', '2025-08-17', 5, 225, 'Normal', 6),
 ('Blue Box', '2025-08-17', None, 207, 'Color', 7),
 ('Ekiden Bros', '2025-08-17', None, 7, 'Normal', 8),
 ('Ultimate Exorcist Kiyoshi', '2025-08-17', 6, 56, 'Normal', 9),
 ('Ping-Pong Peril', '2025-08-17', None, 6, 'Normal', 10),
 ('Kagurabachi', '2025-08-17', 7, 90, 'Normal', 12),
 ('Harukaze Mound', '2025-08-17', 8, 9, 'Normal', 13),
 ("Nue's Exorcist", '2025-08-17', None, 110, 'Color', 14),
 ('Kaedegami', '2025-08-17', 9, 8, 'Normal', 15),
 ('Kill Blue', '2025-08-17', 10, 113, 'Normal', 16),
 ('Hima-Ten!', '2025-08-17', 11, 54, 'Normal', 17),
 ('Me & Roboco', '2025-08-17', 12, 245, 'Normal', 18),
 ('The Elusive Samurai', '2025-08-17', 13, 214, 'Normal', 19),
 ('Otr of the Flame', '2025-08-17', 14, 14, 'Normal', 20),
 ('Nice Prison', '2025-08-17', 15, 16, 'Normal', 21)]

In [34]:
cursor.execute("""SELECT * FROM chapters WHERE release_date=?""",(date,))
cursor.fetchall()

[('Akane-banashi', '2025-08-17', None, 180, 'Cover', 1),
 ('Ichi the Witch', '2025-08-17', 1, 56, 'Normal', 2),
 ('WITCH WATCH', '2025-08-17', 2, 223, 'Normal', 3),
 ('One Piece', '2025-08-17', 3, 1167, 'Normal', 4),
 ('Shinobi Undercover', '2025-08-17', 4, 55, 'Normal', 5),
 ('Sakamoto Days', '2025-08-17', 5, 235, 'Normal', 6),
 ('Blue Box', '2025-08-17', None, 217, 'Color', 7),
 ('Ekiden Bros', '2025-08-17', None, 17, 'Normal', 8),
 ('Ultimate Exorcist Kiyoshi', '2025-08-17', 6, 66, 'Normal', 9),
 ('Ping-Pong Peril', '2025-08-17', None, 16, 'Normal', 10),
 ('Kagurabachi', '2025-08-17', 7, 100, 'Normal', 12),
 ('Harukaze Mound', '2025-08-17', 8, 19, 'Normal', 13),
 ("Nue's Exorcist", '2025-08-17', None, 120, 'Color', 14),
 ('Kaedegami', '2025-08-17', 9, 18, 'Normal', 15),
 ('Kill Blue', '2025-08-17', 10, 123, 'Normal', 16),
 ('Hima-Ten!', '2025-08-17', 11, 64, 'Normal', 17),
 ('Me & Roboco', '2025-08-17', 12, 255, 'Normal', 18),
 ('The Elusive Samurai', '2025-08-17', 13, 224, 'Normal', 19),
 ('Otr of the Flame', '2025-08-17', 14, 24, 'Normal', 20),
 ('Nice Prison', '2025-08-17', 15, 26, 'Normal', 21)]

In [4]:
connection.close()